@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .6s ease-in;
  font-family: 'Poppins', sans-serif;

}

header {
  background: #FEF9FF;
  /* padding: 1em; */

}

.header {
  margin: 2em auto;
  padding: 1em;
  /* text-align: center; */
}

.text {
  padding: 1em;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;

  line-height: 40px;
  /* text-align: left; */
}

header a {
  color: #681AF9;
  font-size: 20px;
  /* margin-bottom: 1em; */
}

.text span {
  padding-bottom: 0.7em;
  font-size: 32px;
  color: #000000;
  font-weight: 500;
  /* width: 362px; */
  /* margin: auto; */

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.header button {
  padding: 3px 1em;
  border: 3px solid #681AF9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 42px;
  background-color: transparent;
  /* identical to box height */
  margin-top: 1em;
  color: #000000;

}

.header .img {
  /* width: 345px;
  height: 355px; */
  align-items: center;
  text-align: center;
  border-radius: 50%;

  background: linear-gradient(180deg, #EF66A6 0%, #8556EF 100%);
}

li {
  /* list-style: circle; */
  list-style-type: square;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 42px;
  color: #681AF9;

  /* identical to box height */

  /* color: #000000; */


}

li .dot {
  list-style-type: square;
  color: #681AF9;
  /* width: 23px;
height: 23px; */


  background: #681AF9;
}

.btnz {
  padding: 3px 1em;
  border: 3px solid #681AF9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 42px;
  background-color: transparent;
  /* identical to box height */

}

.download {
  background: #FEF9FF;
  align-items: center;
  justify-content: center;
  place-content: center;
  text-align: center;
  padding: 1.3em;
}

/* ABOUT */
.about {
  padding: 1em;
  margin: 1em 2em;
  overflow-x: hidden;


}

.bg-image img {
  /* max-width: auto; */
  /* background-image: url('./images/pic1.jpg'); */
  /* max-width: 379px; */
  /* min-height: 345px; */
  border: 1px solid #F7F7F7;
  filter: drop-shadow(2px 2px 9px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  margin-bottom: 10px;
}

.bg-images img {
  /* background: #C4C4C4; */
  border: 1px solid #F7F7F7;
  filter: drop-shadow(2px 2px 9px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  margin-bottom: 10px;
}

.about-text button {
  background: #681AF9;
  border-radius: 10px;
  padding: 3px 1em;



  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 42px;
  color: white;
}

.btns {
  background: #681AF9;
  border-radius: 10px;
  padding: 3px 1em;


  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 42px;
  color: white;
}

/* PROJECTS */

.projects {
  background: #FEF9FF;

  text-align: center;
  padding: 1.9em;
}



.project-1 {

  max-width: 379px;
  min-height: 345px;

  padding-bottom: 1em;
  background: #C4C4C4;
  border-radius: 30px;
}

.projects-section {
  margin: 1.6em auto;
}

.projects-section h2 {
  padding: 1em;
}

.project a {
  text-decoration: none;
  color: #681AF9;
  font-size: 16px;
}

.projects a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.view{
  margin: 1em auto;
  padding-top: 1em;
}
.view a{
  color: #222222;
}

.footer {
  background: #222222;
}

.footer {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  padding: 1.3em;

  line-height: 36px;
  text-align: center;
  /* color: white; */

}

.git {
  text-align: center;
  margin: auto;
  padding: 1em;
}

footer h3 {
  color: #6E6E6E;
  font-size: 15px;
  font-weight: bold;
}

.footer p {
  font-size: 16px;
  color: white;
}